<app-my-header name="Лабораторна робота №10"></app-my-header>
<ion-content [fullscreen]="true">
    <ion-item>
        <ion-button (click)="nextSpec()">Наступна спеціальність</ion-button>
        <ion-label>
            Поточна спеціальність:
        </ion-label>
        <ion-label>
            {{spec.name}}
        </ion-label>
    </ion-item>
    <ion-item *ngFor="let student of studentList.searchStudent; let j = index">
        <ion-item>{{student.first}}</ion-item>
        <ion-item>{{student.last}}</ion-item>
        <ion-item>{{student.sex}}</ion-item>
        <ion-item>{{student.birthday}}</ion-item>
        <ion-item>{{student.group}}</ion-item>
        <ion-item>{{student.spec_id}}</ion-item>

    </ion-item>
    <ion-item>
        <ion-label position="stacked">Введіть нову спеціальність:</ion-label>
        <ion-input #InputSpec></ion-input>
        <ion-button (click)="addSpec(InputSpec.value)">Додати спеціальність</ion-button>
    </ion-item>
    <ion-card>
        <ion-card-header>
            <ion-card-title>
                Додати студента
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-label position="stacked">Введіть ім'я:</ion-label>
            <ion-input #InputFirst></ion-input>
            <ion-label position="stacked">Введіть прізвище:</ion-label>
            <ion-input #InputLast></ion-input>
            <ion-label position="stacked">Введіть стать:</ion-label>
            <ion-input #InputSex></ion-input>
            <ion-label position="stacked">Введіть дату народження:</ion-label>
            <ion-input type="date" #InputDate></ion-input>
            <ion-label position="stacked">Введіть номер групи:</ion-label>
            <ion-input #InputGroup></ion-input>
            <ion-button (click)="addStudent(InputFirst.value, InputLast.value, InputSex.value, InputDate.value, InputGroup.value)">Додати студента</ion-button>
        </ion-card-content>
    </ion-card>
</ion-content>
