<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Лабораторна робота №3
    </ion-title>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-button slot="start">
      <ion-menu-button color="dark" menu="first"></ion-menu-button>
    </ion-button>
    <ion-title>
      Виконала студентка групи КН-32 Позняк Христина
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card-header>
    Каталог газет: <br />• Дата. <br />• День тижня <br />• Предмет
    <br />• Група<br />• Аудиторія <br />Запит. Позначити кольором всі пари викладача із заданою групою(назву
    групи ввести у формі).
  </ion-card-header>
  <ion-card-content>
    <ion-item>
      <ion-label position="floating">Група</ion-label>
      <ion-input type="text" [(ngModel)]="group"></ion-input>
    </ion-item>

    <ion-button expand="full" (click)="load()">Знайти</ion-button>
  </ion-card-content>
  <ion-card-content>
    <ion-list *ngFor="let group of data | keyvalue">
      <ion-list-header>{{ group.key }}</ion-list-header>
      <ion-item *ngFor="let item of group.value">
        <ion-label [class]="getGroup(item.group) ? 'red-text' : 'white-text'">
          <h2>{{ item.group }}</h2>
          <p>Дата: {{ item.date }}</p>
          <p>День тижня: {{ item.day_of_week }}</p>
          <p>Предмет: {{ item.subject }}</p>
          <p>Аудиторія: {{ item.classroom }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
    
    
    
    
    
  
  </ion-card-content>
</ion-content>
