<form [formGroup]="MyForm" (ngSubmit)="onSubmit()">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Товар</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Назва:</ion-label>
        <ion-input
          id="name"
          type="text"
          formControlName="name"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Одиниця виміру:</ion-label>
        <ion-input
          id="unit"
          type="text"
          formControlName="unit"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Кількість на складі:</ion-label>
        <ion-input
          id="amount"
          type="number"
          formControlName="amount"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Ціна за одиницю:</ion-label>
        <ion-input
          id="price"
          type="number"
          formControlName="price"
        ></ion-input>
      </ion-item>
      <ion-card formArrayName="producers">
        <ion-card-header>
          <ion-card-title>Виробники</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-button color="tertiary" (click)="addProducer()">
            <ion-icon slot="start" name="add"></ion-icon>
            Додати виробника
          </ion-button>
          <ion-item
            *ngFor="let producer of getControls(); let i = index"
            [formGroupName]="i"
          >
            <ion-input
              type="text"
              formControlName="name"
              placeholder="Назва виробника"
            ></ion-input>
            <ion-button color="tertiary" (click)="deleteProducer(i)">
              <ion-icon slot="start" name="trash"></ion-icon>
              Видалити
            </ion-button>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </ion-card-content>
  </ion-card>
  <ion-button
    type="submit"
    color="my-color"
    expand="block"
    fill="outline"
    [disabled]="!MyForm.valid"
  >
    Submit</ion-button
  >
</form>